{{ 'jquery.tmpl.min.js' | asset_url | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}

<div class="view-title">
	<h2>Recently Viewed Products</h2>
</div>

<div id="recently-viewed-products" class="view-product-box clearfix" style="display:none">
</div>

{% raw %}
<script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
<div id="product-${handle}" class="product-box">
  <div class="image">
    <a href="${url}">
      <img src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
    </a>
  </div>
  <div class="details">
    <a href="${url}">
      <span class="title">${title}</span>
    </a>
    <span class="price">{{if price_varies}} {{/if}}${Shopify.formatMoney(price)}</span>
  </div>
</div>
</script>
{% endraw %}

<script>
Shopify.Products.showRecentlyViewed( { howManyToShow:4 } );
</script>

<style>
  .view-title h2{
    text-align: center;
    margin: 5rem 0 3rem 0;
  }
  .view-product-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .view-product-box .price{
    width: 100%;
    display: block;
  }
  @media screen and (max-width: 767px){
    .view-product-box{
      justify-content: center;
      row-gap: 30px;
    }
    .view-title h2{
      font-size: 26px;
    }
  }
</style>
